.prebook-page {
  text-align: center;
  padding: 50px 20px;
  background-color: #f4f4f4;
}

.prebook-page h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.prebook-page p {
  font-size: 1.2rem;
  margin-bottom: 40px;
}

/* Style for the PayPal button container */
#paypal-button-container {
  display: flex;
  justify-content: center; /* Center the PayPal button horizontally */
  align-items: center; /* Center the button vertically if needed */
  margin: 20px auto; /* Center the container and add vertical margin */
  max-width: 600px; /* Limit the width of the container to match your form */
}

/* Style for the form */
.prebook-form {
  max-width: 600px; /* Limit the width of the form */
  margin: 0 auto; /* Center the form horizontally */
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add a slight shadow */
}

.prebook-form label {
  display: block;
  font-size: 1rem;
  margin-bottom: 10px;
}

.prebook-form input, 
.prebook-form select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.prebook-form .prebook-button {
  background-color: #F9ED32;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  cursor: pointer;
}

.submitted-message {
  margin-top: 20px;
  font-size: 1.2rem;
  color: rgba; 
}


.prebook-form .prebook-button:hover {
  background-color: #FFF225;
}
